<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Contact</title>
</head>
<body>
<form action=« /Nouveau-contact » method=« post »>
    <div>
        <label for ="lastname">Nom :</label>
        <input type ="text" id="lastname" name="lastname">
    </div>
    <div>
        <label for ="firstname">Prenom :</label>
        <input type ="text" id="firstname" name="firstname">
    </div>
    <div>
        <label for= "NDeRue "> Numéro de rue : </label>
        <input type ="number" id="NDeRue" name="NDeRue">
    </div>
    <div>
        <label for= " Rue "> Rue : </label>
        <input type ="text" id="Rue" name="Rue">
    </div>
    <div>
        <label for= " Ville "> Ville : </label>
        <input type ="text" id="Ville" name="Ville">
    </div>
    <div>
        <label for= " CP "> Code postal: </label>
        <input type ="text" id="CP" name="CP">
    </div>
    <div>
        <label for= " adresseMail "> Mail: </label>
        <input type ="adresseMail" id="adresseMail" name="adresseMail">
    </div>
</form>
<table>
    <tr><td>Prénom</td><td>Nom</td><td>Adresse postale</td><td>Mail</td></tr>
    <tr th:each="e: ${contacts}">
        <td th:text="${e.firstname}"/><br/>
        <td th:text="${e.lastname}"/><br/>
        <td th:text="${e.lieuHabitation}"/><br/>
        <td th:each="f:${mails}" th:if="${f.contact.id==e.id}" th:text="${f.adresseMail}" /><br/>



    </tr>
</table>
</body>
</html>
